#botao {
    background-color: rgba(0, 131, 116, 0.8);
    color: white;
    border: 2px solid rgba(0, 131, 116, 0.8);
}

/* Estilo de hover do botão */
#botao:hover {
    background-color: #99cdc7;
    color: white;
    border: 2px solid #99cdc7;
}

#botao:active {
    background-color: #014d44;
    border: 2px solid #014d44;
}



#formulario {
    background-color: #014d44;
    color: white;
    border: 2px solid #014d44;
}

/* Estilo de hover do botão */
#formulario:hover {
    background-color: #99cdc7;
    color: white;
    border: 2px solid #99cdc7;
}

#formulario:active {
    background-color: #014d44;
    border: 2px solid #014d44;
}