.swalFireControleDeLivro {
    background-color: #008374;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    width: 70%; /* Largura de 70% em telas maiores */

    /* Media query para telas menores (por exemplo, dispositivos móveis) */
    @media screen and (max-width: 768px) {
        width: 100%; /* Largura de 100% em telas menores */
    }

}

.swalFireControleDeLivroApagado {
    background-color: #008374;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    border-radius: 10px;

    /* Media query para telas menores (por exemplo, dispositivos móveis) */
    @media screen and (max-width: 768px) {
        width: 100%; /* Largura de 100% em telas menores */
    }

}

/* botao sim */
.swalFireControleDeLivro .swal2-confirm {
    /* Estilos para o botão de confirmação */
    background-color: #014d44;
    color: #fff;
    border:#008374;
    box-shadow: none !important; 
    max-width: 100%;
}

.swalFireControleDeLivro .swal2-confirm:hover {
    background-color: #99cdc7;
    color: white;
    border: 2px solid #99cdc7;
}

.swalFireControleDeLivro .swal2-confirm:active {
    background-color: #014d44;
    border: 2px solid #014d44;
    /* Cor quando o botão é clicado e segurado */
}


/* botao nao */
.swalFireControleDeLivro .swal2-cancel {
    /* Estilos para o botão não  de confirmação */
    background-color: #014d44;
    color: #fff;
    border:#008374;
    box-shadow: none !important; 
    max-width: 100%;
}

.swalFireControleDeLivro .swal2-cancel:hover {
    background-color: #99cdc7;
    color: white;
    border: 2px solid #99cdc7;
}

.swalFireControleDeLivro .swal2-cancel:active {
    background-color: #014d44;
    border: 2px solid #014d44;
    /* Cor quando o botão não  é clicado e segurado */
}