body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

.rating {
    font-size: 24px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
}

.star::before {
    content: "\2606"; /* Estrela vazia */
}

.star.filled::before {
    content: "\2605"; /* Estrela preenchida */
    color: gold;
}

p {
    margin: 10px 0;
}

#totalRatings, #averageRating {
    font-weight: bold;
}

#averageRating {
    color: gold;
}
