:root {
    --color-default: #fff;
    --color-primary: #008374;
    --color-secondary: #014d44;
    --color-third: #99cdc7;
  }
#meuBotao:active {
    background-color: var(--color-secondary);
}

.form-control {
    background-color: var(--color-secondary);
    color: var(--color-default);
    box-shadow: none;
}

.form-control:focus {
    background-color: var(--color-secondary);
    color: var(--color-default);
    box-shadow: none;
    box-shadow: 0px 0px 5px 0px var(--color-third);
}


.swalFireIndex {
    background-color: var(--color-primary);
    border: 2px solid var(--color-default);
    color: var(--color-default);
    border-radius: 10px;
    border-radius: 10px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}


body {
    background-image: url(../img/index.jpg);
    }

.form-select {
    appearance: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-third);
    border-radius: 4px;
    background-color: var(--color-secondary);
    color: var(--color-third);
}

.form-select:focus {
    outline: none;
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 0.2rem var(--color-secondary);
}

.form-select::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--color-third);
}

.align-vertical {
    display: flex;
    align-items: center;
  }