:root {
    --color-default: #fff;
    --color-primary: #008374;
    --color-secondary: #014d44;
    --color-third: #99cdc7;
  }

body {
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    color: var(--color-primary);
    background-size: cover;
    background-position: center;
}

.form{
        background-color: var(--color-primary);
    border-radius: 20px;
    box-shadow: 2px 2px 6px var(--color-secondary);
}

.form-group label {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: .9rem;
}

form .form-group input {
    color: var(--color-default);
    width: 100%;
    font-size: .9rem;
    padding: .5rem;
    margin-top: .3rem;
    height: 30px;
    background-color: var(--color-secondary);
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
}

::placeholder {
  color: var(--color-third);
}

input[type="text"]::placeholder {
  color: var(--color-third);
}

.btn-primary:hover {
    background-color:var(--color-third);
}

.form-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: var(--color-third);
    gap: .3rem;
    text-decoration: none;
    font-size: .9rem;
    transition: .3s;
}

.form-links:hover {
    color:  var(--color-secondary);
}
